<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false">
  <assemblies>
    <add assembly="EPiServer.Marketing.Testing.Web" />
  </assemblies>

  <dojo>
    <paths>
      <add name="marketing-testing" path="ClientResources" />
    </paths>
  </dojo>

  <clientResources>
  </clientResources>

  <clientModule initializer="marketing-testing/InitializeModule">
    <moduleDependencies>
      <!-- Run the initializer after CMS has been initialized -->
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>