<table class="epi-kpiSummaries-table">
    <thead>
        <tr>
            <th></th>
            <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpiSummaryWidget.conversions}</th>
            <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpiSummaryWidget.weight}</th>
            <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpiSummaryWidget.performance}</th>
        </tr>
    </thead>
    <tbody id="${id}Summaries"></tbody>
</table>