<div>
    <a class="epi-visibleLink" data-dojo-attach-point="summaryToggle" data-dojo-attach-event="onclick: _toggleSummaryTable">${resources.kpisummarywidget.hide_details}</a>
    <table id="${id}_SummaryTable" class="epi-kpiSummaries-table">
        <thead>
            <tr>
                <th></th>
                <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpisummarywidget.conversions}</th>
                <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpisummarywidget.weight}</th>
                <th class="epi-kpiSummaries-bold epi-kpiWidget-summaries-td">${resources.kpisummarywidget.performance}</th>
            </tr>
        </thead>
        <tbody id="${id}Summaries"></tbody>
    </table>
</div>