<table class="epi-kpiSummary-table">
    <tr>
        <td style="text-align:center;">
            <span class="epi-kpiSummary-conversionRate-default" data-dojo-attach-point="conversionPercent"></span><br>${resources.summary_widget.conversion_rate}
        </td>
        <td style="text-align:center;">
            <div id="pieChart${id}" class="epi-ab-converstion-pie-chart"></div>
        </td>
        <td style="text-align:center;">
            <p>
                <span class="viewsAndConversions">${conversions}</span><br>${resources.summary_widget.conversions}
            </p>
            <p>
                <span class="viewsAndConversions">${views}</span><br>${resources.summary_widget.views}
            </p>
        </td>
    </tr>
</table>