<div style="width:60%">
    <div>
        <div style="float:right"><button class="epi-kpiWidget-remove-button epi-chromeless" data-dojo-type="dijit/form/Button" data-dojo-attach-point="kpiId" data-dojo-attach-event="onClick: removeWidget">X</button></div>
        <div style="vertical-align:middle"><label class="epi-kpiWidget-label" data-dojo-attach-point="kpiLabel">${label}</label></div>
    </div>
    <div data-dojo-attach-point="kpiDescription">${description}</div>
    <div data-dojo-attach-point="kpiMarkup"></div>
    <input type="hidden" data-dojo-type="dijit/form/TextBox" value="${kpiType}" />
</div>