<div>
    <input id="importanceLow" value="Low" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" data-dojo-attach-point="importanceLow" name="importanceLow" type="checkbox" data-dojo-attach-event="onclick: _importanceClicked" />
    <input id="importanceMedium" value="Medium" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" data-dojo-attach-point="importanceMedium" name="importanceMedium" type="checkbox" data-dojo-attach-event="onclick: _importanceClicked" />
    <input id="importanceHigh" value="High" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" name="importanceHigh" data-dojo-attach-point="importanceHigh" type="checkbox" data-dojo-attach-event="onclick: _importanceClicked" />
    <label class="epi-weightSelector-value-label" data-dojo-attach-point="selectorValue" />
</div>