<div class="epi-weightSelector-body">
    <div id="Low" class="epi-weightSelector-kpiweight" data-dojo-attach-point="importanceLow" data-dojo-attach-event="onclick: _importanceSelected"></div>
    <div id="Medium" class="epi-weightSelector-kpiweight" data-dojo-attach-point="importanceMedium" data-dojo-attach-event="onclick: _importanceSelected"></div>
    <div id="High" class="epi-weightSelector-kpiweight" data-dojo-attach-point="importanceHigh" data-dojo-attach-event="onclick: _importanceSelected"></div>
    <label class="epi-weightSelector-value-label" data-dojo-attach-point="selectorValue" />
</div>