<div>
    <input id="importanceLow" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" data-dojo-attach-point="importanceLow" name="importanceLow" type="checkbox" data-dojo-attach-event="onclick: _lowImportanceClicked" />
    <input id="importanceMedium" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" data-dojo-attach-point="importanceMedium" name="importanceMedium" type="checkbox" data-dojo-attach-event="onclick: _medImportanceClicked" />
    <input id="importanceHigh" class="epi-weightSelector-kpiweight epi-weightSelector-kpiweight--default" name="importanceHigh" data-dojo-attach-point="importanceHigh" type="checkbox" data-dojo-attach-event="onclick: _highImportanceClicked" />
    <label class="epi-weightSelector-value-label" data-dojo-attach-point="selectorValue" />
</div>