.epi-abtest-body {
    background-color: #eee;
    padding: 16px 32px;
    font-family: arial;
    font-size: 14px;
}

.epi-abtest-body-container {
    height: 96%;
    width: 100%;
    position: absolute;
}

.epi-abtest-hr {
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
}

.cardWrapper {
    background-color: white;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 12px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    position: relative;
    overflow: visible;
}

    .cardWrapper h3 {
        font-size: 16px;
        font-weight: bold;
        font-family: arial;
        padding: 14px 8px 5px 20px;
    }

.cardBody {
    padding: 18px;
    padding-top: 4px;
}

    .cardBody h1, x:-moz-any-link, x:default {
        margin-top: 15px;
    }

    .cardBody h1 {
        font-size: 2em;
        font-weight: bold;
        font-family: arial;
    }

    .cardBody h2 {
        text-align: left;
        margin-bottom: 0;
        font-weight: bold;
        font-family: arial;
    }

    .cardBody h4,
    .formsRow h4 {
        font-size: 18px;
        margin: 8px 0;
        font-family: arial;
        font-weight: bold;
    }

.contentInfo {
    text-align: center;
    padding: 16px 32px;
    font-family: arial;
}

.cardWrapperShadowed {
    box-sizing: border-box;
    background-color: white;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 12px;
    box-shadow: 0px 6px 8px 3px #999999;
    position: relative;
    overflow: visible;
}

    .cardWrapperShadowed:hover {
        background-color: white;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding: 0;
        margin-bottom: 12px;
        box-shadow: 0px 6px 8px 3px #FFFF66;
        position: relative;
        overflow: visible;
    }

.controlDefaultBody,
.controlLeaderBody,
.controlPublishedBody,
.controlTrailingBody,
.challengerDefaultBody,
.challengerLeaderBody,
.challengerPublishedBody,
.challengerTrailingBody {
    min-width: 350px;
}

.controlDefaultBody {
    width: 49%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.challengerDefaultBody {
    width: 49%;
    display: inline-block;
}

.controlLeaderBody,
.controlTrailingBody,
.controlPublishedBody {
    box-sizing: border-box;
    width: 49%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.challengerLeaderBody,
.challengerPublishedBody {
    box-sizing: border-box;
    width: 49%;
    display: inline-block;
}

.controlLeaderBody {
    border: 2px solid #1ba4fa;
}

.challengerLeaderBody {
    border: 2px solid #17bac0;
}

    .controlDefaultBody h3,
    .controlTrailingBody h3,
    .challengerDefaultBody h3,
    .controlLeaderBody h3,
    .challengerLeaderBody h3 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-family: arial;
        padding: 14px 8px 12px 20px;
        margin-top: 0;
    }

.controlDefaultBody h3,
.controlTrailingBody h3,
.challengerDefaultBody h3 {
    padding: 14px 8px 12px 20px;
}

.controlPublishedBody {
    border: 3px solid #1ba4fa;
}

.challengerPublishedBody {
    border: 3px solid #17bac0;
}

.challengerDefaultBody h3 {
    background-color: #17bac0;
}

.controlDefaultBody h3,
.controlTrailingBody h3,
.controlPublishedBody h3 {
    background-color: #1ba4fa;
}

.controlLeaderBody h3 {
    padding: 14px 8px 10px 20px;
    background-color: #1ba4fa;
}

.challengerLeaderBody h3 {
    padding: 14px 8px 10px 20px;
    background-color: #17bac0;
}

.challengerPublishedBody h3 {
    background-color: #17bac0;
}

.controlDefaultBody h3,
.controlLeaderBody h3,
.controlTrailingBody h3,
.challengerLeaderBody h3,
.challengerDefaultBody h3,
.controlPublishedBody h3,
.challengerPublishedBody h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding: 14px 8px 12px 20px;
    margin-top: 0;
}

.epi-kpiSummary-conversionRate-default {
    font-family: Arial;
    font-size: 32px;
}

.epi-kpiSummary-conversionRate-leader {
    font-family: Arial;
    font-size: 42px;
}

.epi-kpiLabel-bold {
    font-weight: bold;
}

.draftIcon {
    background-image: url('../../images/drafticon.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}

.epi-element--hidden {
    visibility: hidden;
}

.epi-ab-errorText {
    color: #f7542b;
    visibility: hidden;    
}

.epi-ab-errorIcon {
    margin-bottom: 2px;
}

.formsRow {
    margin-bottom: 24px;
}

.hrDetails {
    margin-top: -10px;
    margin-bottom: 15px;
}

.epi-abtest-hr {
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    margin-bottom: 24px;
}

.leadingContent {
    background-image: url('../../Images/hot.png');
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -5px;
    height: 64px;
    width: 64px;
}

.noStatusIndicator {
    position: absolute;
    right: -20px;
    top: -5px;
    height: 64px;
    width: 64px;
}

.objectIcon {
    background-image: url('../../images/pageIcon.png');
    background-repeat: no-repeat;
    padding-left: 36px;
    background-size: 28px,28px;
    margin-top: 20px;
}

.pickWinnerMessage {
    font-style: italic;
    font-family: arial;
    font-size: 16px;
    vertical-align: middle;
}

.publishedIcon {
    background-image: url('../../images/publishedIcon.png');
    background-repeat: no-repeat;
    padding-left: 18px;
    padding-top: 2px;
}

.scheduleLabel {
    vertical-align: middle;
    padding-top: 2px;
}

.leadingContent,
.winningContent,
.pickedContent {
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -5px;
    height: 64px;
    width: 64px;
}

.epi-abtest-thumbnail {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.epi-abtest-thumbnail-hidden {
    display: none;
}

.epi-abTest-weightSelectors-margin {
    margin-left: 25px;
}

.epi-abtest-thumbnail--losing {
    opacity: .4;
}

.epi-abTest-summaryToggle {
    min-height: 25px;
}

.versionData {
    text-align: center;
    padding: 16px 32px;
    font-family: arial;
}

.viewsAndConversions {
    font-size: 24px;
}

.leadingContent {
    background-image: url('../../Images/hot.png');
}

.winningContent {
    background-image: url('../../Images/winner.png');
}

.pickedContent {
    background-image: url('../../Images/picked.png');
}

#breadcrumb {
    overflow-x: hidden;
}

.epi-abtest-narrowMarginBottom {
    margin: 0px 0px 5px 0px;
}

.epi-ab-converstion-pie-chart {
    margin-right: auto;
    height: 100px;
    width: 100px;
}

#trailingToolBar {
    padding-right: 15px;
}

#leadingToolBar {
    padding-left: 15px;
}

#dateSelector {
    vertical-align: middle;
    visibility: hidden;
}

#testDescription {
    width: 70%;
    max-width: 99.75%;
}

.abTestResult {
    margin-bottom: 26px;
}

    .abTestResult > h2 {
        text-align: center;
    }

.abWinnerStatusText {
    margin: 0 0 4px;
}

.abLoserStatusText {
    margin: 12px 0 28px;
    color: #777;
}

.abPickWinnerAction {
    text-align: center;
    margin-bottom: 36px;
}

.epi-abtest-advanced-header {
    color: #000;
    margin: 8px 0;
    padding: 14px 8px 12px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.epi-abtest-spacing-narrow {
    margin-bottom: 2px;
}

@media screen and (max-width: 900px) {
    .epi-abtest-preview-left-side {
        float: none;
        margin-right: 0;
        width: auto;
    }

    .epi-abtest-preview-right-side {
        float: left;
        width: auto;
    }
}

/* Throbber classes */
@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-rolling {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

    .lds-rolling div,
    .lds-rolling div:after {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 20px solid #1ba4fa;
        border-top-color: transparent;
        border-radius: 50%;
    }

    .lds-rolling div {
        -webkit-animation: lds-rolling 1s linear infinite;
        animation: lds-rolling 1s linear infinite;
        top: 100px;
        left: 100px;
    }

        .lds-rolling div:after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

.lds-rolling {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    top: 30%;
}

.epi-spinnerOverlay {
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/* end Throbber classes*/
