.abBody {
    background-color: #eee;
    padding: 16px 32px;
    font-family: arial;
    font-size: 14px;
}

.cardWrapper {
    background-color: white;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 12px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    position: relative;
    overflow: visible;
}

.cardBody {
    padding: 18px;
}

input, textarea {
    font-size: 14px;
}


em {
    box-shadow: inset 0 -4px 0 #cbe25e;
    font-style: normal;
}

textarea {
    width: 600px;
    height: 80px;
}

hr {
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    margin-bottom: 24px;
}

.cardWrapper h3 {
    margin: 0 0 8px 0;
}

.versiona {
    height: 200px;
    background-image: url('../../Images/screenshot1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.versionb {
    height: 200px;
    background-image: url('../../Images/screenshot2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.formsRow {
    margin-bottom: 24px;
}

.objectIcon {
    background-image: url('../../Images/pageIcon.png');
    background-repeat: no-repeat;
    padding-left: 36px;
    background-size: 28px,28px;
}

.publishedIcon {
    background-image: url('../../Images/publishedIcon.png');
    background-repeat: no-repeat;
    padding-left: 18px;
}

.draftIcon {
    background-image: url('../../Images/draftIcon.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}

.controlVersionHeader {
    background-color: #1ba4fa;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding: 14px 8px 12px 20px;
}

.challengeVersionHeader {
    background-color: #f7542b;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding: 14px 8px 12px 20px;
}


