.epi-kpiWidget-body {
    width: 60%;
}

.epi-kpiWidget-content {
    width: 95%;
}

.epi-kpiWidget-lbl {
    padding-top: 4px;
    font-weight: bold;
    display: block;
    vertical-align: middle;
}

.epi-kpiWidget-kpi-lbl {
    font-size: larger;
}

.epi-kpiWidget-remove-btn {
    font-weight: bold;
    font-size: larger;
    display: block;
    float: right;
}

.epi-kpiWidget-weightWidget-body {
    max-width: 30%;
    margin-bottom: 10px;
}

.epi-kpiWidget-weightWidget-label-row {
    float: left;
    min-width: 50%;
    text-align: left;
    vertical-align: middle;
}

.epi-kpiWidget-weightWidget-row {
    text-align: left;
}

.epi-kpiSummaries-bold {
    font-weight: bold;
}

.epi-kpiSummaries-summary-row {
    height: 40px;
}

.epi-kpiWidget-summaries-td {
    text-align: center;
}
