.epi-weightSelector-value-label {
    padding-top: 4px;
    font-weight: bold;
    display: block;
    vertical-align: middle;
}

.epi-weightSelector-kpiweight {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 25px;
    width: 25px;
    border-style: solid;
    border: 1px;
    padding: 0px;
    margin: 0px;
    border-color: #C7C9C9;
    float:left;
}

.epi-weightSelector-kpiweight--default {
    background-color: #EDEDED;
}

.epi-weightSelector-kpiweight-low {
    background-color: #CBE25E;
}

.epi-weightSelector-kpiweight-medium {
    background-color: #B4D633;
}

#importanceLow:checked,
#importanceMedium:checked,
#importanceHigh:checked {
    background-size: 25px 25px;
}

#importanceLow:checked {
    background-image: url('../widgets/images/LowImportanceChecked.png');
    border-color: #CBE25E;
}

#importanceMedium:checked {
    background-image: url('../widgets/images/MediumImportanceChecked.png');
    border-color: #B4D633;
}

#importanceHigh:checked {
    background-image: url('../widgets/images/HighImportanceChecked.png');
    border-color: #95C532;
}

#importanceHigh {
margin-right: 25px;
}