<div class="epi-form-container epi-grid-form dijitContainer">
    <div class="dijit epi-globalToolbar dijitToolbar" role="toolbar" tabindex="0" data-dojo-attach-point="containerNode" id="uniqName_110_0" widgetid="uniqName_110_0">
        <div class="epi-toolbarGroupContainer">
            <div class="epi-toolbarLeading epi-toolbarGroup">
                <div id="breadcrumb" style="overflow-x: hidden;"
                     data-dojo-type="epi-cms/widget/Breadcrumb"
                     data-dojo-attach-point="breadcrumbWidget"
                     data-dojo-props="showCurrentNode: false">
                </div>
                <div class="epi-breadCrumbs-title-wrapper">
                    <div data-dojo-attach-point="iconNode" class="dijitInline dijitIcon epi-breadCrumbsCurrentItem-icon epi-iconObjectPage"></div>
                    <h1 data-dojo-attach-point="contentNameNode" class="epi-breadCrumbsCurrentItem dojoxEllipsis"></h1>
                </div>
            </div>
            <div class="epi-toolbarCenter epi-toolbarGroup">&nbsp;</div>
            <div class="epi-toolbarTrailing  epi-toolbarGroup">
                <button class="epi-primary" data-dojo-type="dijit/form/Button"
                        id="StartButton"
                        data-dojo-attach-event="onClick: _onStartButtonClick"
                        type="button">
                    ${resources.addtestview.start_default}
                </button>
                <button data-dojo-type="dijit/form/Button"
                        id="CancelButton"
                        data-dojo-attach-event="onClick: _onCancelButtonClick"
                        type="button">
                    ${resources.addtestview.cancel_default}
                </button>
            </div>
        </div>
        <hr />
    </div>
    <!-- Title Text -->
    <div class="abBody">
        <div class="cardWrapper">
            <div class="cardBody">
                <h1 class="objectIcon" style="font-size: 2em; font-weight: bold; font-family: arial" data-dojo-attach-point="pageName"></h1>
                <!--<p>Validate if any new addition or change to content will actually improve the conversion rate.</p>-->
                <h2 style="text-align: left; margin-bottom: 0; font-weight: bold; font-family: arial">Validate if any new addition or change to content will actually improve the conversion rate.</h2>
            </div>
        </div>
        <!--<div class="epi-grid__row epi-grid__row--no-border">
            <div class="epi-grid__col--12">
                <div class="epi-grid__header">
                    <h1 data-dojo-attach-point="pageName"></h1>
                </div>
            </div>
        </div>-->
        <div class="cardWrapper 2column" style="width: 49%; display: inline-block; float: left; margin-right: 2%;">
            <h3 style="background-color: #1ba4fa; color: #fff; font-size: 20px; font-weight: bold; font-family: arial; padding: 14px 8px 12px 20px" data-dojo-attach-point="publishedVersionReference"> Control</h3>
            <div class="cardBody" style="padding-bottom: 0;">
                <div class="versiona"></div>
                <p style="text-align: center; padding: 16px 32px; font-family: arial;">
                    <span class="publishedIcon">
                        ${resources.addtestview.published_prefix}
                    </span>
                    <span class="epi-username" data-dojo-attach-point="publishedBy"></span>,
                    <span data-dojo-attach-point="datePublished"></span>
                </p>
            </div>
        </div>
        <div class="cardWrapper 2column" style="width: 49%; display: inline-block;">
            <h3 style="background-color: #f7542b; color: #fff; font-size: 20px; font-weight: bold; font-family: arial; padding: 14px 8px 12px 20px" data-dojo-attach-point="currentVersionReference"> Challenger</h3>
            <div class="cardBody" style="padding-bottom: 0;">
                <div class="versionb"></div>
                <p class=".epi-iconVersions" style="text-align: center; padding: 16px 32px; font-family: arial;">
                    ${resources.addtestview.draft_prefix}
                    <span class="epi-username" style="vertical-align: middle" data-dojo-attach-point="savedBy"></span>,
                    <span style="vertical-align: middle" data-dojo-attach-point="dateSaved"></span>
                </p>
            </div>
        </div>
        <div class="cardWrapper" style="clear: both">
            <div class="cardBody">
                <div class="formsRow">
                    <h4 style="font-size: 18px; margin: 8px 0; font-family: arial; font-weight: bold">What is the overall goal for this test?</h4>
                    <textarea id="testDescription"
                              maxlength="2048"
                              style="width: 75%;"
                              placeholder="${resources.addtestview.goals_default_text}"
                              data-dojo-attach-point="descriptionText"
                              data-dojo-attach-event="onChange: _onTestDescriptionChanged"></textarea>
                </div>
                <div class="formsRow">
                    <h4 style="font-size: 18px; margin: 8px 0; font-weight: bold; font-family: arial">
                        What's the conversion goal?
                    </h4>
                    <p>
                        <label>Visitor navigates to page</label>
                        <span id="conversionPage"
                              data-dojo-attach-point="conversionPageWidget"
                              data-dojo-type="epi-cms/widget/ContentSelector"
                              data-dojo-props="repositoryKey:'pages',required: true, allowedTypes: ['episerver.core.pagedata'], allowedDndTypes: [], value: null"
                              data-dojo-attach-event="onChange: _onConversionPageChanged">
                        </span>
                        <span id="pickerErrorIcon" style="visibility: hidden" class="media-list__object  dijitInline dijitReset dijitIcon  epi-icon--colored  epi-iconDanger"></span>
                        <span id="pickerErrorText" style="color: #f7542b; visibility: hidden"></span>
                    </p>
                </div>
                <div class="formsRow">
                    <h4 style="font-size: 18px; margin: 8px 0; font-family: arial; font-weight: bold">
                        What percentage of visitors should participate in this A/B test?
                    </h4>
                    <p>A higher participation percentage reduces the time required to gather enough statistics to be able to pick a winner.</p>
                    <p>
                        <div id="percentageSpinner"
                             data-dojo-type="dijit/form/NumberSpinner"
                             data-dojo-props="constraints:{min:1,max:100},value:10"
                             data-dojo-attach-point="participationPercentText"
                             data-dojo-attach-event="onChange: _onPercentageSpinnerChanged">
                        </div><label>%</label>
                        <span id="participationErrorIcon" style="visibility: hidden" class="media-list__object  dijitInline dijitReset dijitIcon  epi-icon--colored  epi-iconDanger"></span>
                        <span id="participationErrorText" style="color: #f7542b; visibility: hidden"></span>
                    <p>
                </div>
                <div class="formsRow">
                    <h4 style="font-size: 18px; margin: 8px 0; font-family: arial; font-weight: bold">For how long do you wish to run the A/B test?</h4>
                    <p>
                        <div id="durationSpinner"
                             data-dojo-type="dijit/form/NumberSpinner"
                             data-dojo-props="constraints:{min:1,max:365},value:30"
                             data-dojo-attach-point="durationText"
                             data-dojo-attach-event="onChange: _onDurationSpinnerChanged">
                        </div><label>${resources.addtestview.days_text}</label> &nbsp;
                        <span id="durationErrorIcon" style="visibility: hidden" class="media-list__object  dijitInline dijitReset dijitIcon  epi-icon--colored  epi-iconDanger"></span>
                        <span id="durationErrorText" style="color: #f7542b; visibility: hidden"></span>
                    </p>
                </div>
                <div class="formsRow">
                    <h4 id="x" style="font-size: 18px; margin: 8px 0; font-family: arial; font-weight: bold">When should the A/B test be started?</h4>

                    <div class="formsRow" style="float: left; padding-right: 20px; vertical-align: text-bottom">
                        <input style="vertical-align: middle" type="radio" checked value="hide" name="startOption" id="startNowOption" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-event="onClick: _toggleTimeSelector"><label style="vertical-align: middle; padding-top: 2px">Start immediately</label><br>
                        <input style="padding-top: 10px; vertical-align: middle" type="radio" value="show" name="startOption" id="delayStartOption" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-event="onClick: _toggleTimeSelector"><label style="vertical-align: middle; padding-top: 2px">Schedule for later</label>
                    </div>
                    <div class="formsRow" style="vertical-align: middle; visibility: hidden" id="dateSelector">
                        <div>
                            <span id="datePickerErrorIcon" style="visibility: hidden; padding-bottom: 2px" class="media-list__object  dijitInline dijitReset dijitIcon  epi-icon--colored  epi-iconDanger"></span>
                            <span id="datePickerErrorText" style="color: #f7542b; visibility: hidden"></span>
                        </div>
                        <div id="StartDateTimeSelector" data-dojo-attach-point="startDatePicker" data-dojo-type="epi/shell/widget/DateTimeSelectorDropDown" data-dojo-attach-event="onChange: _onDateTimeChange"></div>
                        <span class="dijitInline dijitIcon epi-iconClock"></span><label>${resources.addtestview.schedule_text_prefix} <span id="ScheduleText">${resources.addtestview.notscheduled_text}</span></label>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="cardWrapper">
            <h3 style="font-size: 20px; font-weight: bold; font-family: arial; padding: 14px 8px 12px 20px">Advanced Options</h3>
            <div class="cardBody" style="padding-top: 4px;">
                <h4 style="font-size: 18px; margin: 8px 0; font-family: arial; font-weight: bold">Confidence Level</h4>
                <p>The confidence level dictates the amount of errors allowed. A higher percentage directly correlates to the accuracy of the test results. This denotes whether the difference measured between the control page and variant page is not by chance (i.e. significant).</p>
                <select name="confidence">
                    <option>99%</option>
                    <option>98%</option>
                    <option>95% (default)</option>
                    <option>90%</option>
                </select>
            </div>
        </div>




        <br /><br />
        <div class="advanced-options">
            <div class="advanced-options__button-container">
                <button data-dojo-type="dijit/form/ToggleButton" onclick="showSettings();" class="js-settings-btn epi-chromeless epi-flat" data-dojo-props="iconClass:'epi-iconSettings', checked: false">
                    ${resources.addtestview.advancedsettings}
                </button>
            </div>
        </div>
        <div class="advanced-options__content epi-grid epi-grid--limit-width">
            <div class="epi-grid__row epi-grid__row--no-border">
                <div class="epi-grid__col--12">
                    <div class="epi-grid__header">
                        <h2>${resources.addtestview.confidencelevel_header}</h2>
                        <p>
                            ${resources.addtestview.confidencelevel_description1}
                            ${resources.addtestview.confidencelevel_description2}
                        </p>
                    </div>
                </div>
            </div>
            <!--<div class="epi-grid__row">
                <div class="epi-grid__col--12 epi-radio-list">
                    <label for="confidence_99"><input type="radio" name="confidence" id="confidence_99" value="99" data-dojo-type="dijit/form/RadioButton"/>${resources.addtestview.confidence_99}</label>
                    <label for="confidence_98"><input type="radio" name="confidence" id="confidence_98" value="98" data-dojo-type="dijit/form/RadioButton"/>${resources.addtestview.confidence_98}</label>
                    <label for="confidence_95"><input type="radio" checked="checked" name="confidence" id="confidence_95" value="95" data-dojo-type="dijit/form/RadioButton"/>${resources.addtestview.confidence_95}</label>
                    <label for="confidence_90"><input type="radio" name="confidence" id="confidence_90" value="90" data-dojo-type="dijit/form/RadioButton"/>${resources.addtestview.confidence_90}</label>
                </div>
            </div>-->
        </div>
    </div>
</div>
