<div class="epi-form-container epi-grid-form dijitContainer">
    <!-- Button Bar -->
    <div class="dijit epi-globalToolbar dijitToolbar" role="toolbar" tabindex="0" data-dojo-attach-point="containerNode" id="dijit_Toolbar_1" lang="en" widgetid="dijit_Toolbar_1">
        <div class="epi-toolbarGroupContainer">
            <div class="epi-toolbarLeading epi-toolbarGroup">
                <div class="epi-toolbarGroupContainer">
                    <!-- Breadcrumb? -->
                    <div class="epi-toolbarGroup epi-toolbarLeading">
                        <ul data-dojo-type="epi-cms/widget/Breadcrumb"></ul>
                    </div>
                    <div class="epi-toolbarGroup epi-toolbarCenter"></div>
                    <!-- Start and Cancel Buttons -->
                    <div class="epi-toolbarGroup epi-toolbarTrailing">
                        <button class="epi-primary" data-dojo-type="dijit/form/Button" id="StartButton" data-dojo-attach-event="onClick: _onStartButtonClick" type="button">Start Test</button>
                        <button data-dojo-type="dijit/form/Button" id="CancelButton" data-dojo-attach-event="onClick: _onCancelButtonClick" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="epi-grid epi-grid--limit-width">
        <!-- Title Text -->
        <div class="epi-grid__row epi-grid__row--no-border">
            <div class="epi-grid__col--12">
                <div class="epi-grid__header">
                    <h1>Alloy Plan A/B Test</h1>
                </div>
            </div>
        </div>

        <div class="epi-grid__row epi-grid__row--no-border">

            <!-- Published Version Information-->
            <div class="epi-grid__col--6">
                <div class="epi-test-version epi-test-version--1">
                    <h2 data-dojo-attach-point="publishedVersionReference" />
                </div>
                <span class="epi-test-version__info">
                    Published by
                    <span class="epi-username" data-dojo-attach-point="publishedBy"></span>,
                    <span class="epi-timestamp" data-dojo-attach-point="datePublished"></span>
                </span>
            </div>

            <!-- Current (variant) Vesion Information-->
            <div class="epi-grid__col--6">
                <div class="epi-test-version epi-test-version--2">
                    <h2 data-dojo-attach-point="currentVersionReference" />
                </div>
                <span class="epi-test-version__info">
                    Draft - Edited by
                    <span class="epi-username" data-dojo-attach-point="savedBy"></span>,
                    <span class="epi-timestamp" data-dojo-attach-point="dateSaved"></span>
                </span>
            </div>
        </div>
        <!-- Title and Description -->
        <div class="epi-grid__row">
            <div class="epi-grid__col--12">
                <ul class="epi-form-container__section dijitLayoutContainer dijitContainer">
                    <!-- Test Title -->
                    <li>
                        <label for="testTitle">Title</label>
                        <input id="testTitle"
                               data-dojo-type="dijit/form/TextBox"
                               data-dojo-attachpoint="testTitle"
                               data-dojo-attach-event="onChange: _onTestTitleChanged" />
                    </li>
                    <!-- Test Description -->
                    <li class="epi-form-container__section__row epi-form-container__section__row--field">
                        <textarea id="testDescription"
                                  data-dojo-type="dijit/form/SimpleTextarea"
                                  style="width: 75%;"
                                  data-dojo-attach-point="descriptionText"
                                  data-dojo-attach-event="onChange: _onTestDescriptionChanged">
                            What are your goals for this test?
                        </textarea>
                    </li>
                </ul>
            </div>
        </div>

        <div class="epi-grid__row epi-grid__row--no-border">
            <div class="epi-grid__col--12">
                <div class="epi-grid__header">
                    <h2>Conversion goal:</h2>
                </div>
            </div>
        </div>

        <!-- Test Data -->
        <div class="epi-grid__row">
            <div class="epi-grid__col--12">
                <ul class="epi-form-container__section dijitLayoutContainer dijitContainer">

                    <!-- Convesion Page Picker-->
                    <li class="epi-form-container__section__row epi-form-container__section__row--field">
                        <label for="conversionPage">Visitor navigates to page</label>
                        <div id="conversionPage"
                             data-dojo-type="epi-cms/widget/ContentSelector"
                             data-dojo-props="repositoryKey:'pages'"
                             data-dojo-attach-event="onChange: _onConversionPageChanged">
                        </div>
                    </li>

                    <!-- Participation Percentage Spinner-->
                    <li class="epi-form-container__section__row epi-form-container__section__row--full-width">
                        <span>The participants you have in the test, the shorter amount of time you will need to run it to reach a good statistic to base your choice on</span><br>
                        <label for="percentageSpinner">What percentage of visitors should participate in this A/B test?</label><br>
                        <div id="percentageSpinner"
                             data-dojo-type="dijit/form/NumberSpinner"
                             data-dojo-attach-point="participationPercentText"
                             data-dojo-attach-event="onChange: _onPercentageSpinnerChanged">
                        </div> %
                    </li>

                    <!-- Duration Spinner-->
                    <li class="epi-form-container__section__row epi-form-container__section__row--full-width">
                        <span></span><br>
                        <label for="durationSpinner"></label><br>
                        <div id="durationSpinner"
                             data-dojo-type="dijit/form/NumberSpinner"
                             data-dojo-attach-point="durationText"
                             data-dojo-attach-event="onChange: _onDurationSpinnerChanged">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Start Time-->
        <div class="epi-grid__row epi-grid__row--no-border">
            <div class="epi-grid__col--12">
                <div class="epi-grid__header">
                    <h2>Schedule start:</h2>
                </div>
            </div>
        </div>
        <div class="epi-grid__row">
            <div class="epi-grid__col--12">
                <div id="StartDateTimeSelector" data-dojo-type="epi/shell/widget/DateTimeSelectorDropDown" data-dojo-attach-event="onChange: _onDateTimeChange"></div>
                <span class="dijitInline dijitIcon epi-iconClock"></span> A/B test is currently <span id="ScheduleText"> not scheduled, and will start right away</span>
            </div>
        </div>
    </div>
</div>