<div class="epi-form-container epi-grid-form dijitContainer">
    <div class="dijit epi-globalToolbar dijitToolbar" role="toolbar" tabindex="0" data-dojo-attach-point="containerNode" id="dijit_Toolbar_1" lang="en" widgetid="dijit_Toolbar_1">
        <div class="epi-toolbarGroupContainer">
            <div class="epi-toolbarGroup epi-toolbarLeading">
            </div>
            <div class="epi-toolbarGroup epi-toolbarCenter"></div>
            <!--  and Cancel Buttons -->
            <div class="epi-toolbarGroup epi-toolbarTrailing">
                <div class="dijit dijitReset dijitInline epi-mediumButton epi-button--bold dijitDropDownButton"
                     data-dojo-type="dijit/form/DropDownButton">
                    <span>Options</span>
                    <div data-dojo-type="dijit/TooltipDialog">
                        <h3>Option 1</h3>
                        <h3>Option 2</h3>
                    </div>
                </div>
                <button data-dojo-type="dijit/form/Button" id="detailsCancel" type="button">Cancel</button>
                &nbsp;
            </div>
        </div>
    </div>
</div>
