<div class="epi-form-container epi-grid-form dijitContainer">
    <!-- button bar -->
    <div class="dijit epi-globalToolbar dijitToolbar" role="toolbar" tabindex="0" data-dojo-attach-point="containerNode" id="dijit_Toolbar_1" lang="en" widgetid="dijit_Toolbar_1">
        <div class="epi-toolbarGroupContainer">
            <!-- Empty Leading Toolbar Group -->
            <div class="epi-toolbarGroup epi-toolbarLeading"></div>
            <!-- Empty Center Toolbar Group -->
            <div class="epi-toolbarGroup epi-toolbarCenter"></div>
            <!-- Options and Cancel Buttons -->
            <div class="epi-toolbarGroup epi-toolbarTrailing">
                <!--Close Button-->
                <button class="epi-button--bold" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onCancelClick">${resources.detailsview.button_close}</button>
                &nbsp;
            </div>
        </div>
    </div>
    <hr class="hrToolbar" />
    <div class="abBody">
        <!-- Header Test Title and Running Time / Status -->
        <div class="cardWrapper">
            <div class="cardBody">
                <h1 class="objectIcon" data-dojo-attach-point="title"></h1>
                <h2>
                    <span data-dojo-attach-point="testStatus"></span>
                    <span style="color: #777; font-weight: normal;" data-dojo-attach-point="testStarted"></span>
                </h2><br />
                <span class="media-list__object dijitHidden dijitIcon epi-iconWarning epi-icon--colored epi-icon--large" data-dojo-attach-point="pickWinnerWarningIcon"></span>
                <span class="pickWinnerMessage" data-dojo-attach-point="pickAWinnerMessage"></span>
            </div>

        </div>
        <!-- Control/Published Version -->
        <div class="row">
            <div class="cardWrapper 2column controlDefaultBody">
                <div class="leadingContent" data-dojo-attach-point="controlStatusIcon"></div>
                <h3>
                    ${resources.detailsview.content_control_header}
                </h3>
                <div class="cardBody" style="padding-bottom: 0;">
                    <div class="versiona"><canvas id="publishThumbnailpickwinner" class="abThumbnailCanvas" /></div>
                    <p class="contentInfo">
                        <span class="publishedIcon" style="padding-top: 2px">
                            ${resources.detailsview.published_prefix}
                        </span>
                        <span class="epi-username" data-dojo-attach-point="publishedBy"></span>,
                        <span data-dojo-attach-point="datePublished"></span>
                    </p>
                    <div class="abPickWinnerAction" data-dojo-attach-point="controlPickWinnerBtn">
                        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onPublishedVersionClick">${resources.detailsview.button_pick_winner_option}</button>
                    </div>
                    <hr class="abResultLine" />
                    <!-- Control Statistics -->
                    <table width="100%">
                        <tr>
                            <td style="text-align:center;">
                                <span id="controlPercent" data-dojo-attach-point="publishedConversionPercent"></span><br>${resources.detailsview.conversion_rate}
                            </td>
                            <td style="text-align:center;">
                                <div id="controlPickWinnerPieChart"></div>
                            </td>
                            <td style="text-align:center;">
                                <p>
                                    <span class="viewsAndConversions" data-dojo-attach-point="publishedConversions"></span><br>${resources.detailsview.conversions}
                                </p>
                                <p>
                                    <span class="viewsAndConversions" data-dojo-attach-point="publishedViews"></span><br>${resources.detailsview.views}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Challenger/Draft Version-->
            <div class="cardWrapper 2column challengerDefaultBody">
                <div class="winningContent" data-dojo-attach-point="challengerStatusIcon"></div>
                <h3>
                    ${resources.detailsview.content_challenger_header}
                </h3>
                <div class="cardBody" style="padding-bottom: 0;">
                    <div class="versionb"><canvas id="draftThumbnailpickwinner" class="abThumbnailCanvas" /></div>
                    <p class="contentInfo">
                        <span class="draftIcon" style="padding-top: 2px">${resources.detailsview.draft_prefix}</span>
                        <span class="epi-username" style="vertical-align: middle" data-dojo-attach-point="changedBy"></span>,
                        <span style="vertical-align: middle" data-dojo-attach-point="dateChanged"></span>
                    </p>
                    <div class="abPickWinnerAction" data-dojo-attach-point="challengerPickWinnerBtn">
                        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onVariantVersionClick">${resources.detailsview.button_pick_winner_option}</button>
                    </div>
                    <hr class="abResultLine" />
                    <table width="100%">
                        <tr>
                            <td style="text-align: center;">
                                <span id="challengerPercent" data-dojo-attach-point="challengerConversionPercent"> %</span><br>${resources.detailsview.conversion_rate}
                            </td>
                            <td style="text-align: center;">
                                <div id="challengerPickWinnerPieChart"></div>
                            </td>
                            <td style="text-align: center;">
                                <p>
                                    <span class="viewsAndConversions" data-dojo-attach-point="challengerConversions"></span><br>${resources.detailsview.conversions}
                                </p>
                                <p>
                                    <span class="viewsAndConversions" data-dojo-attach-point="challengerViews"></span><br>${resources.detailsview.views}
                                </p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Test Information -->
        <div class="cardWrapper" style="clear: both">
            <div class="cardBody">
                <div class="formsRow">
                    <h4>${resources.detailsview.description_heading}</h4>
                    <p style="font-size: 18px;" data-dojo-attach-point="testDescription"></p>
                </div>
                <div class="formsRow">
                    <h4>${resources.detailsview.conversion_header}</h4>
                    <p>
                        <label>${resources.detailsview.conversion_selector_description}</label> <span class="dijitInline dijitReset digitIcon epi-iconObjectPage"></span><a href="" data-dojo-attach-point="contentLinkAnchor"></a>
                    </p>
                </div>
                <hr class="partialHr">
                <div class="formsRow">
                    <h4>${resources.detailsview.percent_participation_header}</h4>
                    <p>
                        <strong><span data-dojo-attach-point="participationPercentage"></span>% </strong>${resources.detailsview.test_percent_to_participations_divider}<strong><span data-dojo-attach-point="totalParticipants"></span></strong>
                    </p>
                </div>
                <hr class="partialHr">
                <div class="formsRow">
                    <h4>${resources.detailsview.test_duration_header}</h4>
                    <p>
                        <strong><span data-dojo-attach-point="testDuration"></span></strong> ${resources.detailsview.days_divider} <strong><span data-dojo-attach-point="testRemaining"> </span></strong>&nbsp;<span data-dojo-attach-point="testRemainingText"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="cardWrapper" style="margin-bottom: 80px">
            <h3>${resources.detailsview.advanced_options_header}</h3>
            <hr class="hrAdvanced" />
            <div class="cardBody" style="padding-top: 4px;">
                <h4>${resources.detailsview.advanced_options_confidence_level}</h4>
                <p>
                    <strong><span data-dojo-attach-point="confidence"></span></strong>
                </p>
            </div>
        </div>
    </div>
</div>