@model EPiServer.Marketing.Multivariate.IMultivariateTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveAbTest</title>
</head>
<body>
    <fieldset>
        <legend>IMultivariateTest</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Id)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Id)
        </div>
    
        
    </fieldset>
   
</body>
</html>
